@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rapture University</h1>
    <p class="lead">Devotion and productivity, led by the words: Would you kindly?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About This Project</h2>
        <p>
            Rapture University is a sample application for a fictional school, intended to demonstrate the capabilities of the .NET Framework in C#, using the Model-View-Controller structure.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Rapture University</h2>
        <p>The select few children who make it through Frank Fontaine's Home For Orphans will be granted the opportunity to attend Rapture University, educating themselves on how to
            continue Andrew Ryan's dream for this great city. Now, would you kindly take a tour through this site?</p>
    </div>
</div>